# Bayesian Regression Model 2015/16 using priors from optimized random forest model

In [1]:
import pymc3 as pm
import pandas as pd
import numpy as np
import arviz as az

data = pd.read_csv("../data/shifts_data_final_2017_18.csv")
data.drop(data.columns[0], axis = 1, inplace = True)
data.head()

,point_diff_per_100,home_team,away_team,0,1,2,3,4,5,6,...,530,531,532,533,534,535,536,537,538,539
0,8.373526,Hawks,Pacers,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,Hawks,Pacers,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,Hawks,Pacers,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,104.166667,Hawks,Pacers,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-48.225309,Hawks,Pacers,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
priors_df_vets = pd.read_csv("../data/final_priors_vets_2017_18.csv")
priors_df_vets.drop(priors_df_vets.columns[0], axis = 1, inplace = True)
# need to rename the index column to idx
priors_df_vets.columns = ['rating', 'team', 'type', 'mu' ,'sd', 'name', 'finalpriors', 'finalse', 'player_id', 'idx', 'player_name']

priors_df_rookies = pd.read_csv("../data/final_priors_rookies_2017_18.csv")
priors_df_rookies.drop(priors_df_rookies.columns[0], axis = 1, inplace = True)
# need to rename the index column to idx
priors_df_rookies.columns = ['rating', 'team', 'type', 'mu' ,'sd', 'name', 'finalpriors', 'finalse', 'player_id', 'idx', 'player_name']

priors_df_vets.sort_values(by = ['idx'], inplace = True)
priors_df_rookies.sort_values(by = ['idx'], inplace = True)

In [3]:
n_players = np.shape(data)[1] - 3
prior_means = np.zeros(n_players)
prior_sigmas = np.full(n_players, 4)

for i in range(len(prior_means)):
    if i in np.array(priors_df_vets['idx']):
        prior_means[i] = priors_df_vets.loc[priors_df_vets['idx'] == i]['finalpriors'].iloc[0]
        prior_sigmas[i] = priors_df_vets.loc[priors_df_vets['idx'] == i]['finalse'].iloc[0]
    elif i in np.array(priors_df_rookies['idx']):
        prior_means[i] = priors_df_rookies.loc[priors_df_rookies['idx'] == i]['finalpriors'].iloc[0]
        prior_sigmas[i] = priors_df_rookies.loc[priors_df_rookies['idx'] == i]['finalse'].iloc[0]

In [4]:
home_teams = data['home_team']
away_teams = data['away_team']
# now drop these columns from the main training dataframe
data.drop(['home_team', 'away_team'], axis = 1, inplace = True)
data.head()

,point_diff_per_100,0,1,2,3,4,5,6,7,8,...,530,531,532,533,534,535,536,537,538,539
0,8.373526,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,104.166667,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-48.225309,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# need to rename columns now since numbers confuse pymc3
new_cols = []
for i in range(np.shape(data)[1]):
    if i == 0:
        new_cols.append("point_diff")
    else:
        new_cols.append("p" + str(i-1))

# x_df = data.iloc[:20000,]
x_df = data
x_df.columns = new_cols
x_df

,point_diff,p0,p1,p2,p3,p4,p5,p6,p7,p8,...,p530,p531,p532,p533,p534,p535,p536,p537,p538,p539
0,8.373526,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,104.166667,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-48.225309,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33320,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33321,-11.574074,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33322,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33323,-236.742424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33324,312.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
x = np.array(x_df.iloc[:,1:])
y = np.array(x_df.iloc[:,0])

x_shape = np.shape(x)[1]
    
with pm.Model() as model:
    # priors
    sigma = pm.HalfCauchy("sigma", beta=10) # arbitrarily defined
    intercept = pm.Normal("Intercept", 0, sigma=20) # arbitrarily defined
    x_prior_means = prior_means # defined above
    x_prior_sigmas = prior_sigmas # defined above
#     x_prior_means = np.zeros(x_shape) # just testing with mean zero to compare to ridge
    x_coeff = pm.Normal("x", mu = x_prior_means, sigma=x_prior_sigmas, shape = x_shape) # original method - no list comprehension

    likelihood = pm.Normal("y", mu=intercept + x_coeff.dot(x.T), sigma=sigma, observed=y) # original method - no list comprehension
    
    trace = pm.sample(1000, tune = 1000, cores = 1)

/Users/reedpeterson/opt/anaconda3/lib/python3.7/site-packages/pymc3/sampling.py:468: FutureWarning: In an upcoming release, pm.sample will return an `arviz.InferenceData` object instead of a `MultiTrace` by default. You can pass return_inferencedata=True or return_inferencedata=False to be safe and silence this warning.
  FutureWarning,
Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Sequential sampling (2 chains in 1 job)
NUTS: [x, Intercept, sigma]

/Users/reedpeterson/opt/anaconda3/lib/python3.7/site-packages/pymc3/math.py:246: RuntimeWarning: divide by zero encountered in log1p
  return np.where(x < 0.6931471805599453, np.log(-np.expm1(-x)), np.log1p(-np.exp(-x)))

Sampling 2 chains for 1_000 tune and 1_000 draw iterations (2_000 + 2_000 draws total) took 13282 seconds.

# Save the trace

In [23]:
with model:
    path = pm.save_trace(trace, directory = "trace_2017_18")

In [7]:
with model:
    results_df = az.summary(trace)

In [8]:
player_index_map = pd.read_csv("../data/player_index_map_2017-18.csv")
player_index_map.head()

   Unnamed: 0  player_id  index         player_name
0           0   201152.0      0      Thaddeus Young
1           1   203506.0      1      Victor Oladipo
2           2   203922.0      2  Glenn Robinson III
3           3  1626202.0      3           Joe Young
4           4  1628388.0      4             TJ Leaf

In [20]:
player_index_map.loc[player_index_map['index'] == 107]
# player_index_map.loc[player_index_map['player_name'] == "LeBron James"]

     Unnamed: 0  player_id  index   player_name
107         107     2544.0    107  LeBron James

In [22]:
print((results_df.loc[results_df['mean'] > 4]).sort_values(by=['mean']))

          mean     sd  hdi_3%  hdi_97%  mcse_mean  mcse_sd  ess_bulk  \
x[391]   4.046  2.139   0.024    8.057      0.034    0.027    3851.0
x[146]   4.231  2.127   0.063    8.116      0.033    0.025    4293.0
x[32]    4.244  2.151   0.415    8.383      0.032    0.028    4458.0
x[259]   4.269  2.331  -0.341    8.370      0.034    0.032    4651.0
x[5]     4.395  2.272  -0.177    8.269      0.035    0.029    4309.0
x[507]   4.543  2.064   0.623    8.136      0.030    0.025    4667.0
x[16]    4.587  2.215   0.065    8.459      0.035    0.029    3959.0
x[108]   4.625  2.207   0.500    8.754      0.028    0.026    6162.0
x[481]   4.746  2.189   0.746    8.960      0.032    0.028    4693.0
x[100]   4.808  2.248   0.549    8.919      0.033    0.028    4570.0
x[79]    4.835  2.831  -0.475   10.122      0.043    0.042    4371.0
x[418]   4.861  2.167   0.865    8.972      0.033    0.026    4336.0
x[385]   4.927  2.778  -0.356    9.899      0.037    0.034    5834.0
x[392]   4.939  2.378   0.848    9.508      0.033    0.029    5153.0
x[154]   4.958  2.309   0.634    9.163      0.035    0.029    4410.0
x[130]   5.056  2.285   1.126    9.708      0.035    0.029    4366.0
x[314]   5.195  2.309   0.718    9.488      0.035    0.029    4418.0
x[83]    5.270  2.151   1.281    9.286      0.029    0.028    5334.0
x[479]   5.336  2.234   1.113    9.400      0.030    0.026    5692.0
x[192]   5.788  2.217   1.283    9.507      0.031    0.024    5165.0
x[156]   5.838  2.173   1.821    9.987      0.031    0.026    4967.0
x[297]   5.845  2.350   1.421   10.343      0.030    0.025    6037.0
x[122]   5.926  2.138   2.117    9.816      0.032    0.026    4476.0
x[435]   5.963  2.152   2.036   10.109      0.035    0.028    3920.0
x[1]     5.971  2.199   1.834   10.044      0.031    0.026    4989.0
x[102]   6.070  2.320   1.539   10.233      0.034    0.027    4654.0
x[38]    6.392  2.232   2.143   10.618      0.029    0.023    5806.0
x[62]    6.441  2.117   2.274   10.194      0.033    0.026    4061.0
x[290]   6.940  2.419   2.341   11.396      0.034    0.026    5066.0
sigma   80.709  0.317  80.119   81.319      0.005    0.003    4754.0

        ess_tail  r_hat
x[391]    1600.0   1.00
x[146]    1365.0   1.00
x[32]     1528.0   1.00
x[259]    1462.0   1.00
x[5]      1486.0   1.00
x[507]    1506.0   1.00
x[16]     1468.0   1.00
x[108]    1629.0   1.00
x[481]    1571.0   1.01
x[100]    1462.0   1.00
x[79]     1074.0   1.00
x[418]    1823.0   1.00
x[385]    1352.0   1.00
x[392]    1465.0   1.00
x[154]    1551.0   1.00
x[130]    1532.0   1.00
x[314]    1307.0   1.00
x[83]     1198.0   1.00
x[479]    1246.0   1.00
x[192]    1482.0   1.00
x[156]    1330.0   1.00
x[297]    1324.0   1.00
x[122]    1500.0   1.00
x[435]    1318.0   1.00
x[1]      1436.0   1.00
x[102]    1502.0   1.00
x[38]     1562.0   1.00
x[62]     1392.0   1.00
x[290]    1603.0   1.00
sigma     1438.0   1.00

In [24]:
with model:
    tmp = trace.get_values("x")

# np.shape(tmp)
# np.mean(tmp, axis = 0)
tmp_df = pd.DataFrame(tmp)
tmp_df.to_csv(r'../data/bayesian_posterior_samples_2017_18.csv')

In [25]:
results_df.to_csv(r'../data/bayesian_results_df_2017_18.csv')