# Bayesian Regression Model 2015/16 using priors from optimized random forest model

In [1]:
import pymc3 as pm
import pandas as pd
import numpy as np
import arviz as az

data = pd.read_csv("../data/shifts_data_final_2016_17.csv")
data.drop(data.columns[0], axis = 1, inplace = True)
data.head()

,point_diff_per_100,home_team,away_team,0,1,2,3,4,5,6,...,476,477,478,479,480,481,482,483,484,485
0,-4.227543,Celtics,Heat,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,72.337963,Celtics,Heat,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-52.083333,Celtics,Heat,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,Celtics,Heat,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-30.281008,Celtics,Heat,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
priors_df_vets = pd.read_csv("../data/final_priors_vets_2016_17.csv")
priors_df_vets.drop(priors_df_vets.columns[0], axis = 1, inplace = True)
# need to rename the index column to idx
priors_df_vets.columns = ['rating', 'team', 'type', 'mu' ,'sd', 'name', 'finalpriors', 'finalse', 'player_id', 'idx', 'player_name']

priors_df_rookies = pd.read_csv("../data/final_priors_rookies_2016_17.csv")
priors_df_rookies.drop(priors_df_rookies.columns[0], axis = 1, inplace = True)
# need to rename the index column to idx
priors_df_rookies.columns = ['rating', 'team', 'type', 'mu' ,'sd', 'name', 'finalpriors', 'finalse', 'player_id', 'idx', 'player_name']

priors_df_vets.sort_values(by = ['idx'], inplace = True)
priors_df_rookies.sort_values(by = ['idx'], inplace = True)

In [3]:
n_players = np.shape(data)[1] - 3
prior_means = np.zeros(n_players)
prior_sigmas = np.full(n_players, 4)

for i in range(len(prior_means)):
    if i in np.array(priors_df_vets['idx']):
        prior_means[i] = priors_df_vets.loc[priors_df_vets['idx'] == i]['finalpriors'].iloc[0]
        prior_sigmas[i] = priors_df_vets.loc[priors_df_vets['idx'] == i]['finalse'].iloc[0]
    elif i in np.array(priors_df_rookies['idx']):
        prior_means[i] = priors_df_rookies.loc[priors_df_rookies['idx'] == i]['finalpriors'].iloc[0]
        prior_sigmas[i] = priors_df_rookies.loc[priors_df_rookies['idx'] == i]['finalse'].iloc[0]

In [4]:
home_teams = data['home_team']
away_teams = data['away_team']
# now drop these columns from the main training dataframe
data.drop(['home_team', 'away_team'], axis = 1, inplace = True)
data.head()

,point_diff_per_100,0,1,2,3,4,5,6,7,8,...,476,477,478,479,480,481,482,483,484,485
0,-4.227543,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,72.337963,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-52.083333,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-30.281008,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# need to rename columns now since numbers confuse pymc3
new_cols = []
for i in range(np.shape(data)[1]):
    if i == 0:
        new_cols.append("point_diff")
    else:
        new_cols.append("p" + str(i-1))

# x_df = data.iloc[:20000,]
x_df = data
x_df.columns = new_cols
x_df

,point_diff,p0,p1,p2,p3,p4,p5,p6,p7,p8,...,p476,p477,p478,p479,p480,p481,p482,p483,p484,p485
0,-4.227543,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,72.337963,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-52.083333,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-30.281008,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33380,15.409270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33381,-58.740602,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33382,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33383,144.675926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33384,-236.742424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
x = np.array(x_df.iloc[:,1:])
y = np.array(x_df.iloc[:,0])

x_shape = np.shape(x)[1]
    
with pm.Model() as model:
    # priors
    sigma = pm.HalfCauchy("sigma", beta=10) # arbitrarily defined
    intercept = pm.Normal("Intercept", 0, sigma=20) # arbitrarily defined
    x_prior_means = prior_means # defined above
    x_prior_sigmas = prior_sigmas # defined above
#     x_prior_means = np.zeros(x_shape) # just testing with mean zero to compare to ridge
    x_coeff = pm.Normal("x", mu = x_prior_means, sigma=x_prior_sigmas, shape = x_shape) # original method - no list comprehension

    likelihood = pm.Normal("y", mu=intercept + x_coeff.dot(x.T), sigma=sigma, observed=y) # original method - no list comprehension
    
    trace = pm.sample(1000, tune = 1000, cores = 1)

/Users/reedpeterson/opt/anaconda3/lib/python3.7/site-packages/pymc3/sampling.py:468: FutureWarning: In an upcoming release, pm.sample will return an `arviz.InferenceData` object instead of a `MultiTrace` by default. You can pass return_inferencedata=True or return_inferencedata=False to be safe and silence this warning.
  FutureWarning,
Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Sequential sampling (2 chains in 1 job)
NUTS: [x, Intercept, sigma]

/Users/reedpeterson/opt/anaconda3/lib/python3.7/site-packages/pymc3/math.py:246: RuntimeWarning: divide by zero encountered in log1p
  return np.where(x < 0.6931471805599453, np.log(-np.expm1(-x)), np.log1p(-np.exp(-x)))

Sampling 2 chains for 1_000 tune and 1_000 draw iterations (2_000 + 2_000 draws total) took 1551 seconds.

# Save the Trace

In [7]:
with model:
    path = pm.save_trace(trace, directory = "trace_2016_17")

In [8]:
with model:
    results_df = az.summary(trace)

In [13]:
player_index_map = pd.read_csv("../data/player_index_map_2016-17.csv")
player_index_map.head()

   Unnamed: 0  player_id  index      player_name
0           0   203585.0      0  Rodney McGruder
1           1   202337.0      1     Luke Babbitt
2           2   201609.0      2     Goran Dragic
3           3   201961.0      3  Wayne Ellington
4           4     2754.0      4       Tony Allen

In [31]:
player_index_map.loc[player_index_map['index'] == 41]
player_index_map.loc[player_index_map['player_name'] == "Stephen Curry"]

     Unnamed: 0  player_id  index    player_name
279         279   201939.0    279  Stephen Curry

In [29]:
print((results_df.loc[results_df['mean'] > 4]).sort_values(by=['mean']))

          mean     sd  hdi_3%  hdi_97%  mcse_mean  mcse_sd  ess_bulk  \
x[179]   4.005  2.727  -1.534    8.882      0.035    0.042    5777.0
x[189]   4.049  2.099  -0.012    7.961      0.028    0.024    5746.0
x[300]   4.111  2.488  -0.685    8.558      0.039    0.033    4102.0
x[380]   4.176  2.489  -0.527    8.756      0.039    0.034    4092.0
x[224]   4.215  2.826  -1.250    9.297      0.047    0.044    3683.0
x[38]    4.272  2.338  -0.139    8.653      0.035    0.031    4484.0
x[298]   4.404  2.696  -0.786    9.549      0.041    0.043    4215.0
x[106]   4.416  2.717  -0.604    9.593      0.039    0.038    4885.0
x[246]   4.435  2.718  -0.865    9.232      0.043    0.037    4084.0
x[77]    4.626  2.453   0.108    9.230      0.033    0.030    5650.0
x[118]   4.916  2.534   0.527    9.808      0.042    0.036    3643.0
x[391]   4.922  2.587   0.229    9.780      0.037    0.032    4829.0
x[49]    5.045  2.620   0.520   10.227      0.043    0.034    3749.0
x[279]   5.083  2.581   0.185    9.748      0.041    0.035    3915.0
x[14]    5.207  2.556   0.281    9.961      0.037    0.032    4876.0
x[102]   5.247  2.724   0.220   10.534      0.040    0.034    4743.0
x[466]   5.255  2.166   1.401    9.554      0.030    0.027    5335.0
x[29]    5.272  2.516   0.672   10.137      0.039    0.032    4197.0
x[148]   5.408  2.845   0.093   10.696      0.042    0.036    4568.0
x[122]   5.415  2.250   1.229    9.588      0.039    0.030    3393.0
x[21]    5.422  2.466   0.634    9.976      0.039    0.032    4022.0
x[143]   5.472  2.199   0.973    9.246      0.035    0.028    4012.0
x[415]   5.528  2.453   0.815   10.039      0.039    0.033    3951.0
x[46]    5.679  2.619   0.790   10.644      0.041    0.039    4143.0
x[191]   5.761  2.546   0.787   10.393      0.045    0.036    3179.0
x[39]    5.795  2.339   1.566   10.347      0.038    0.032    3770.0
x[41]    5.801  2.680   0.847   10.689      0.038    0.033    4891.0
x[7]     5.841  2.379   1.675   10.665      0.038    0.031    3944.0
x[18]    5.870  2.528   1.428   10.860      0.038    0.032    4318.0
x[117]   6.179  2.596   1.325   11.017      0.038    0.033    4748.0
x[257]   6.258  2.594   1.250   10.950      0.040    0.033    4139.0
x[32]    6.425  2.704   1.417   11.491      0.047    0.037    3396.0
x[204]   6.849  2.544   1.979   11.626      0.040    0.030    4041.0
x[363]   7.198  2.676   2.367   12.419      0.037    0.030    5254.0
x[31]    7.466  2.640   2.536   12.417      0.041    0.033    4209.0
x[475]   7.768  2.636   2.547   12.374      0.040    0.031    4291.0
x[73]    8.150  2.419   3.464   12.567      0.040    0.031    3622.0
x[128]   9.452  2.349   5.165   13.667      0.039    0.028    3634.0
sigma   79.187  0.300  78.590   79.729      0.004    0.003    4722.0

        ess_tail  r_hat
x[179]    1095.0   1.00
x[189]    1605.0   1.00
x[300]    1282.0   1.00
x[380]    1500.0   1.00
x[224]    1475.0   1.00
x[38]     1409.0   1.00
x[298]    1184.0   1.00
x[106]    1152.0   1.00
x[246]    1381.0   1.00
x[77]     1472.0   1.00
x[118]    1486.0   1.00
x[391]    1631.0   1.00
x[49]     1446.0   1.00
x[279]    1346.0   1.00
x[14]     1425.0   1.00
x[102]    1526.0   1.00
x[466]    1222.0   1.00
x[29]     1580.0   1.00
x[148]    1428.0   1.00
x[122]    1588.0   1.00
x[21]     1531.0   1.00
x[143]    1614.0   1.00
x[415]    1556.0   1.00
x[46]     1214.0   1.00
x[191]    1035.0   1.00
x[39]     1476.0   1.00
x[41]     1185.0   1.00
x[7]      1261.0   1.00
x[18]     1493.0   1.00
x[117]    1425.0   1.00
x[257]    1354.0   1.00
x[32]     1813.0   1.00
x[204]    1619.0   1.00
x[363]    1453.0   1.00
x[31]     1263.0   1.00
x[475]    1493.0   1.00
x[73]     1566.0   1.00
x[128]    1584.0   1.00
sigma     1312.0   1.01

In [32]:
with model:
    tmp = trace.get_values("x")

# np.shape(tmp)
# np.mean(tmp, axis = 0)
tmp_df = pd.DataFrame(tmp)
tmp_df.to_csv(r'../data/bayesian_posterior_samples_2016_17.csv')

In [33]:
results_df.to_csv(r'../data/bayesian_results_df_2016_17.csv')