# Creating Player Priors

This notebook will create player prior distributions based on contract values, team ratings, and potentially other variables as well (but first we will focus only on contract values/team ratings for priors for simplicity).

In [1]:
import pymc3 as pm
import pandas as pd
import numpy as np

data = pd.read_csv("../data/shifts_data_final_2018_19.csv")

data.drop(data.columns[0], axis = 1, inplace = True)
data.head()

,point_diff_per_100,home_team,away_team,0,1,2,3,4,5,6,...,519,520,521,522,523,524,525,526,527,528
0,-0.364583,Celtics,Nuggets,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.390625,Celtics,Nuggets,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.723380,Celtics,Nuggets,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.361690,Celtics,Nuggets,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.382966,Celtics,Nuggets,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## First - create a mapping from player ID to name

In [2]:
playerlist = pd.read_csv("../data/playerlist.csv")
playerlist.drop(playerlist.columns[0], axis = 1, inplace = True)
playerlist.head()

,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,FROM_YEAR,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH,PERSON_ID,PLAYERCODE,ROSTERSTATUS,TEAM_ABBREVIATION,TEAM_CITY,TEAM_CODE,TEAM_ID,TEAM_NAME,TO_YEAR
0,Alaa Abdelnaby,"Abdelnaby, Alaa",1990,Y,0,76001,HISTADD_alaa_abdelnaby,0,NaN,NaN,NaN,0,NaN,1994
1,Zaid Abdul-Aziz,"Abdul-Aziz, Zaid",1968,Y,0,76002,HISTADD_zaid_abdul-aziz,0,NaN,NaN,NaN,0,NaN,1977
2,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",1969,Y,0,76003,HISTADD_kareem_abdul-jabbar,0,NaN,NaN,NaN,0,NaN,1988
3,Mahmoud Abdul-Rauf,"Abdul-Rauf, Mahmoud",1990,Y,0,51,mahmoud_abdul-rauf,0,NaN,NaN,NaN,0,NaN,2000
4,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",1997,Y,0,1505,tariq_abdul-wahad,0,NaN,NaN,NaN,0,NaN,2003

In [3]:
player_index_map = pd.read_csv("../data/player_index_map.csv")
player_index_map.drop(player_index_map.columns[0], axis = 1, inplace = True)

index_player_dict = dict() # This will map indexes to player id's
player_index_dict = dict() # This maps player id's to indexes
for i in range(len(player_index_map)):
    index = i
    playerid = player_index_map.iloc[i].player_id
    index_player_dict[index] = playerid
    player_index_dict[playerid] = index

player_index_map.head()

   player_id  index
0   202694.0      0
1  1628369.0      1
2  1627759.0      2
3  1626179.0      3
4   201577.0      4

In [4]:
# Note - player_index_map is already sorted by index so we can just take the player_id column as all of the id's of players we need
player_ids = player_index_map.player_id
player_names = []
for item in player_ids:
    cur_id = item
    cur_row = playerlist.loc[playerlist.PERSON_ID == cur_id]
    name = cur_row.DISPLAY_FIRST_LAST.iloc[0]
    player_names.append(name)
    
player_names

['Marcus Morris',
 'Jayson Tatum',
 'Jaylen Brown',
 'Terry Rozier',
 'Robin Lopez',
 'Cristiano Felicio',
 'Wayne Selden',
 'Justin Holiday',
 'Tyler Dorsey',
 'Amir Johnson',
 'Tobias Harris',
 'T.J. McConnell',
 'Kyle Lowry',
 'Marc Gasol',
 'OG Anunoby',
 'Avery Bradley',
 'Delon Wright',
 'Jeff Teague',
 'Tyus Jones',
 'Alfonzo McKinnie',
 'Draymond Green',
 'Damion Lee',
 'Jordan Bell',
 'Kemba Walker',
 'Miles Bridges',
 'Wayne Ellington',
 'Thon Maker',
 'Langston Galloway',
 'Andre Drummond',
 'Tomas Satoransky',
 'Bradley Beal',
 'Thomas Bryant',
 'Alex Len',
 'Trae Young',
 'Jaylen Adams',
 'Jarrett Allen',
 'Caris LeVert',
 'Allen Crabbe',
 'DeMarre Carroll',
 'Rodions Kurucs',
 'Otto Porter Jr.',
 'Kenrich Williams',
 'Anthony Davis',
 'Julius Randle',
 "E'Twaun Moore",
 'Deandre Ayton',
 "De'Anthony Melton",
 'Mikal Bridges',
 'Richaun Holmes',
 'Troy Daniels',
 'Elie Okobo',
 'Harrison Barnes',
 'Harry Giles III',
 'Alec Burks',
 "De'Aaron Fox",
 'Reggie Bullock',
 'Mike Muscala',
 'Alex Caruso',
 'Eric Bledsoe',
 'Brook Lopez',
 'Khris Middleton',
 'Tony Snell',
 'D.J. Wilson',
 'Damian Lillard',
 'Seth Curry',
 'Skal Labissiere',
 'Michael Kidd-Gilchrist',
 'Jeremy Lamb',
 'Cody Zeller',
 'D.J. Augustin',
 'Nikola Vucevic',
 'Terrence Ross',
 'Bam Adebayo',
 'Goran Dragic',
 'Rodney McGruder',
 'Eric Gordon',
 'Nene',
 'Gerald Green',
 'Darius Miller',
 'Solomon Hill',
 'Klay Thompson',
 'Danilo Gallinari',
 'Montrezl Harrell',
 'JaMychal Green',
 'Lance Thomas',
 'Kevin Knox',
 'Damyean Dotson',
 'Emmanuel Mudiay',
 'JaVale McGee',
 'Isaac Bonga',
 'Nikola Mirotic',
 'Jon Leuer',
 'Dion Waiters',
 'Mike Scott',
 'Dwight Powell',
 'Luka Doncic',
 'Jalen Brunson',
 'Jakob Poeltl',
 'Davis Bertans',
 'Marco Belinelli',
 'LaMarcus Aldridge',
 'Patty Mills',
 'Andre Iguodala',
 'Shaun Livingston',
 'Brandon Knight',
 'Jordan Clarkson',
 'Cedi Osman',
 'Nik Stauskas',
 'Ante Zizic',
 'Deng Adel',
 'Rondae Hollis-Jefferson',
 'Iman Shumpert',
 'Rudy Gobert',
 'Kyle Korver',
 'Jae Crowder',
 'Grayson Allen',
 'Wilson Chandler',
 'Thaddeus Young',
 'Wesley Matthews',
 'Cory Joseph',
 'TJ Leaf',
 'Darren Collison',
 'Boban Marjanovic',
 'Dairis Bertans',
 'Jamal Murray',
 'Monte Morris',
 'Juancho Hernangomez',
 'Terrance Ferguson',
 'Nerlens Noel',
 'Steven Adams',
 'Abdel Nader',
 'Austin Rivers',
 'Jarell Martin',
 'Amile Jefferson',
 'Robert Williams III',
 'Jordan Loyd',
 'Chris Boucher',
 'Georges Niang',
 'Bruce Brown',
 'Justise Winslow',
 'Jason Smith',
 'Daniel Theis',
 'Tim Hardaway Jr.',
 'Devin Harris',
 'Markieff Morris',
 'Allonzo Trier',
 'Mario Hezonja',
 'Khem Birch',
 'Marvin Bagley III',
 'Yogi Ferrell',
 'Sam Dekker',
 'Chasson Randle',
 'Norman Powell',
 'Jerryd Bayless',
 'Tristan Thompson',
 'Collin Sexton',
 'Kent Bazemore',
 'Taurean Prince',
 'Danuel House Jr.',
 'Sterling Brown',
 'Malik Monk',
 'Julian Washburn',
 'Kosta Koufos',
 'Tyreke Evans',
 'Alize Johnson',
 'Pascal Siakam',
 'PJ Dozier',
 'Kyle Kuzma',
 'Rajon Rondo',
 'Raul Neto',
 'Ricky Rubio',
 'Larry Nance Jr.',
 'Jared Terrell',
 "Royce O'Neale",
 'Shake Milton',
 'Duncan Robinson',
 'Mitchell Robinson',
 'Chris Chiozza',
 'Aron Baynes',
 'Justin Anderson',
 'Spencer Dinwiddie',
 'Guerschon Yabusele',
 'Semi Ojeleye',
 'Kawhi Leonard',
 'Trey Burke',
 'Daryl Macon',
 'Jimmer Fredette',
 'Evan Turner',
 'Ivica Zubac',
 'Tyrone Wallace',
 'Joel Embiid',
 'Devin Robinson',
 'Courtney Lee',
 'PJ Tucker',
 'Yante Maten',
 'Anthony Tolliver',
 'Keita Bates-Diop',
 'Billy Garrett',
 'Haywood Highsmith',
 'Pat Connaughton',
 'Quincy Pondexter',
 'Meyers Leonard',
 'Damian Jones',
 'Victor Oladipo',
 "Kyle O'Quinn",
 'Mo Bamba',
 'Jonathan Isaac',
 'James Harden',
 'Isaiah Hartenstein',
 'Luc Mbah a Moute',
 'Josh Jackson',
 'Devin Booker',
 'Robert Covington',
 'Markelle Fultz',
 'Furkan Korkmaz',
 'Isaiah Briscoe',
 'Kyle Anderson',
 'Dillon Brooks',
 'Omri Casspi',
 'Donte DiVincenzo',
 'John Henson',
 'Matthew Dellavedova',
 'Enes Kanter',
 'Noah Vonleh',
 'Ryan Arcidiacono',
 'LeBron James',
 'Lonzo Ball',
 'Rodney Hood',
 'Deonte Burton',
 'Svi Mykhailiuk',
 'DeVaughn Akoon-Purcell',
 "DeAndre' Bembry",
 'Alex Poythress',
 'Dewayne Dedmon',
 'Hassan Whiteside',
 'Chimezie Metu',
 'Ryan Anderson',
 'Troy Williams',
 'Willie Cauley-Stein',
 'Ish Smith',
 'Frank Jackson',
 'Andrew Harrison',
 'Bryn Forbes',
 'Dennis Schroder',
 'Russell Westbrook',
 'Alex Abrines',
 'Wendell Carter Jr.',
 'Ivan Rabb',
 'Taj Gibson',
 'Karl-Anthony Towns',
 'Johnathan Williams',
 'Gary Harris',
 'Paul Millsap',
 'Tony Parker',
 'Quinn Cook',
 'Vince Carter',
 'Kevin Huerter',
 'Derrick Jones Jr.',
 'Shaquille Harrison',
 'Marcus Derrickson',
 'Josh Hart',
 'Dwight Howard',
 'Dzanan Musa',
 'Marcin Gortat',
 'Bojan Bogdanovic',
 'Brad Wanamaker',
 'Salah Mejri',
 'Malachi Richardson',
 'Ike Anigbogu',
 'CJ McCollum',
 'Tyler Davis',
 'John Collins',
 'Jaron Blossomgame',
 'Jalen Jones',
 'Jawun Evans',
 'Jared Dudley',
 'Nick Young',
 'Josh Okogie',
 'Ben McLemore',
 'Tyler Johnson',
 'Derrick Favors',
 'Naz Mitrou-Long',
 'Kelly Oubre Jr.',
 'J.P. Macura',
 'Tyson Chandler',
 'Malik Beasley',
 'Patrick McCaw',
 'Bobby Portis',
 'Quincy Acy',
 'Brandon Goodwin',
 'Will Barton',
 'Blake Griffin',
 'Zaza Pachulia',
 'Serge Ibaka',
 'Jabari Parker',
 'Lauri Markkanen',
 'Theo Pinson',
 'Gary Payton II',
 'Luol Deng',
 'Dwyane Wade',
 'Alan Williams',
 'Jusuf Nurkic',
 'Jonathon Simmons',
 'Cheick Diallo',
 'Tyler Lydon',
 'Tahjere McCall',
 'Timothe Luwawu-Cabarrot',
 'Chandler Parsons',
 'CJ Miles',
 'Troy Brown Jr.',
 'Moritz Wagner',
 'Frank Kaminsky',
 'Willy Hernangomez',
 'Lou Williams',
 'BJ Johnson',
 'Anfernee Simons',
 'Jonah Bolden',
 'Stephen Curry',
 'Garrett Temple',
 'Doug McDermott',
 'Torrey Craig',
 'Al Horford',
 'Evan Fournier',
 'Malcolm Miller',
 'Ray Spalding',
 'Maurice Harkless',
 'Marvin Williams',
 'Nemanja Bjelica',
 'David Nwaba',
 'Luke Kornet',
 'Yuta Watanabe',
 'Myles Turner',
 'Scott Machado',
 'Jevon Carter',
 'Stanley Johnson',
 'Mike Conley',
 'Ian Clark',
 'Thabo Sefolosha',
 "D'Angelo Russell",
 'Glenn Robinson III',
 'Jerami Grant',
 'Jerome Robinson',
 'JJ Redick',
 'Jemerrio Jones',
 'Melvin Frazier Jr.',
 'Maxi Kleber',
 'Davon Reed',
 'George Hill',
 'Dennis Smith Jr.',
 'Brandon Sampson',
 'Mitchell Creek',
 'Gorgui Dieng',
 'Andrew Wiggins',
 'Isaiah Hicks',
 'Donatas Motiejunas',
 'Reggie Jackson',
 'Ron Baker',
 'Carmelo Anthony',
 'Chris Paul',
 'Trevor Ariza',
 'Ian Mahinmi',
 'Malcolm Brogdon',
 'Antonio Blakeney',
 'Lance Stephenson',
 'Hamidou Diallo',
 'Dorian Finney-Smith',
 'Josh Richardson',
 'Wesley Johnson',
 'MarShon Brooks',
 'Dante Cunningham',
 'Zhou Qi',
 'Jaren Jackson Jr.',
 'Caleb Swanigan',
 'Raymond Felton',
 'Jamal Crawford',
 'Gary Clark',
 'James Nunnally',
 'Domantas Sabonis',
 'Jonas Valanciunas',
 'Dante Exum',
 'Fred VanVleet',
 'Ben Simmons',
 'Tim Frazier',
 'Nicolas Batum',
 'Johnathan Motley',
 'Joe Harris',
 'Giannis Antetokounmpo',
 'Khyri Thomas',
 'Rudy Gay',
 'Jeremy Lin',
 'Zach LaVine',
 'Michael Beasley',
 'Wade Baldwin IV',
 'Kenneth Faried',
 'Greg Monroe',
 'Kadeem Allen',
 'Isaiah Thomas',
 'Jacob Evans',
 'Jerian Grant',
 'Landry Shamet',
 'Al-Farouq Aminu',
 'James Ennis III',
 'DeMarcus Cousins',
 'Kevin Durant',
 'Shai Gilgeous-Alexander',
 'Kyrie Irving',
 'Wes Iwundu',
 'Bogdan Bogdanovic',
 'Dwayne Bacon',
 'Marquese Chriss',
 'Gary Trent Jr.',
 'Jonas Jerebko',
 'Kevin Love',
 'John Jenkins',
 'Jordan McRae',
 'Frank Ntilikina',
 'Andrew Bogut',
 'Troy Caupain',
 'Bruno Caboclo',
 'Bonzie Colson',
 'Elfrid Payton',
 'Ekpe Udoh',
 'Walter Lemon Jr.',
 'Derrick White',
 'Isaac Humphries',
 'Paul George',
 'Dirk Nowitzki',
 'Tyler Zeller',
 'Ersan Ilyasova',
 'Channing Frye',
 'Cameron Reynolds',
 'Zhaire Smith',
 'Clint Capela',
 'Isaiah Canaan',
 'John Wall',
 'Shelvin Mack',
 'Cameron Payne',
 'Kentavious Caldwell-Pope',
 'Luke Kennard',
 'JR Smith',
 'Frank Mason',
 'Milos Teodosic',
 'Dragan Bender',
 'DJ Stephens',
 'Tony Bradley',
 'Trey Lyles',
 'Shabazz Napier',
 'Omari Spellman',
 'Kris Dunn',
 'Joakim Noah',
 'Kobi Simmons',
 'Jimmy Butler',
 'Derrick Rose',
 'Jeff Green',
 'Jrue Holiday',
 'Corey Brewer',
 'Terrence Jones',
 'Patrick Beverley',
 'Zach Collins',
 'Donovan Mitchell',
 'Mason Plumlee',
 'Jarred Vanderbilt',
 'Gordon Hayward',
 'Eric Moreland',
 'Aaron Gordon',
 'Danny Green',
 "Devonte' Graham",
 'Henry Ellenson',
 'Edmond Sumner',
 'Christian Wood',
 'Kelly Olynyk',
 'Jodie Meeks',
 'Justin Jackson',
 'Deyonta Davis',
 'Treveon Graham',
 'DeMar DeRozan',
 'Tyler Cavanaugh',
 'JaKarr Sampson',
 'Udonis Haslem',
 'C.J. Williams',
 'Drew Eubanks',
 'Buddy Hield',
 'J.J. Barea',
 'Jose Calderon',
 'Miles Plumlee',
 'Vincent Edwards',
 'Jaylen Morris',
 'Okaro White',
 'Ryan Broekhoff',
 'Daniel Hamilton',
 'Trevon Duval',
 'Jordan Sibert',
 'Marcus Smart',
 'Justin Patton',
 'Dario Saric',
 'Bismack Biyombo',
 'Ed Davis',
 'Jahlil Okafor',
 'Pau Gasol',
 'Jake Layman',
 'Kevon Looney',
 'Sindarius Thornwell',
 'DeAndre Jordan',
 'Joe Ingles',
 'Aaron Holiday',
 'Nikola Jokic',
 'Thomas Welsh',
 'Lonnie Walker IV',
 'Patrick Patterson',
 'James Johnson',
 'Michael Carter-Williams',
 'Rawle Alkins',
 'Lorenzo Brown',
 'T.J. Warren',
 'Brandon Ingram',
 'Chandler Hutchison',
 'Demetrius Jackson',
 'Donte Grantham',
 'Emanuel Terry',
 'Andre Ingram',
 'Kostas Antetokounmpo',
 'John Holland',
 'Tyler Ulis',
 'George King',
 'RJ Hunter',
 'Kalin Lucas',
 'Angel Delgado',
 'Dusty Hannahs',
 'Joe Chealey']

## Now that we have a list of names in the proper order, we can link these names to contract values

In [5]:
contracts_df = pd.read_csv("../data/contract_data.csv")
contracts_df.drop(contracts_df.columns[0], axis = 1, inplace = True)
contracts_df.head()

   Year            Name Age Pos Contract Value       Type
0  2018   Kent Bazemore  29  SG   $18,089,887   Cap Space
1  2018   Miles Plumlee  30   C   $12,500,000        Bird
2  2018  Dewayne Dedmon  29   C    $7,200,000   Cap Space
3  2018      Trae Young  20  PG    $5,356,440      Rookie
4  2018        Alex Len  25   C    $4,350,000        Room

In [6]:
# Get rid of '$' in the contract value column and cast to float
contracts_df = contracts_df[contracts_df['Contract Value'] != '- ']
contracts_df = contracts_df[contracts_df['Contract Value'] != 'PG']
contracts_df = contracts_df[contracts_df['Contract Value'] != 'G']
contracts_df = contracts_df[contracts_df['Contract Value'] != 'C']
contracts_df = contracts_df[contracts_df['Contract Value'] != 'SG']
contracts_df = contracts_df[contracts_df['Contract Value'] != 'SF']
# contracts_df
contracts_df['Contract Value'] = contracts_df['Contract Value'].replace('[\$,]', '', regex=True).astype(float)
contracts_df

     Year               Name Age Pos  Contract Value       Type
0    2018      Kent Bazemore  29  SG      18089887.0  Cap Space
1    2018      Miles Plumlee  30   C      12500000.0       Bird
2    2018     Dewayne Dedmon  29   C       7200000.0  Cap Space
3    2018         Trae Young  20  PG       5356440.0     Rookie
4    2018           Alex Len  25   C       4350000.0       Room
..    ...                ...  ..  ..             ...        ...
893  2019     Shabazz Napier  28  PG       1845301.0  Cap Space
894  2019        Isaac Bonga  19  PG       1416852.0  Cap Space
895  2019     Gary Payton II  26  PG       1052909.0   Hardship
896  2019  Admiral Schofield  22  SF       1000000.0     NT-MLE
897  2019   Anzejs Pasecniks  23   C        482144.0     NT-MLE

[887 rows x 6 columns]

In [7]:
# Now that we have player contracts, we can iterate through player_names and collect contract data
contracts_df = contracts_df.loc[contracts_df.Year == 2018]
# contracts_df

contract_lst = []
for player in player_names:
    try:
        contract = contracts_df.loc[contracts_df.Name == player]['Contract Value'].iloc[0] # get the contract
    except:
        contract = 0
    contract_lst.append(contract) # so we will either append the contract (if we have one) or append 0 (if we don't have one)
    
# assert(len(contract_lst) == len(player_names))
contract_lst

[0,
 6700800.0,
 5169960.0,
 3050390.0,
 14357750.0,
 8470980.0,
 1544951.0,
 4384615.0,
 1378242.0,
 1512601.0,
 14800000.0,
 1600520.0,
 32700000.0,
 24119025.0,
 1952760.0,
 12000000.0,
 2536898.0,
 19000000.0,
 2444053.0,
 1349383.0,
 17469565.0,
 0,
 1378242.0,
 12000000.0,
 3206640.0,
 2383076.0,
 2799720.0,
 7000000.0,
 25434263.0,
 3129187.0,
 25434263.0,
 1378242.0,
 4350000.0,
 5356440.0,
 236854.0,
 2034120.0,
 1702800.0,
 18500000.0,
 15400000.0,
 1618320.0,
 26011913.0,
 838464.0,
 25434263.0,
 8641000.0,
 8808685.0,
 8165160.0,
 949000.0,
 3552960.0,
 1600520.0,
 3258549.0,
 0,
 24793702.0,
 0,
 11536515.0,
 5470920.0,
 2500000.0,
 5000000.0,
 0,
 15000000.0,
 3382000.0,
 13000000.0,
 10807143.0,
 0,
 27977689.0,
 2795000.0,
 1544951.0,
 13000000.0,
 7488372.0,
 13528090.0,
 7250000.0,
 13250000.0,
 10500000.0,
 0,
 18109175.0,
 1544951.0,
 13500375.0,
 0,
 1512601.0,
 2205000.0,
 12252928.0,
 18988725.0,
 21587579.0,
 6000000.0,
 7866667.0,
 7119650.0,
 3739920.0,
 1378242.0,
 4294480.0,
 1512601.0,
 1000000.0,
 12500000.0,
 10002681.0,
 11550000.0,
 4320500.0,
 9631250.0,
 6560640.0,
 1230000.0,
 2947320.0,
 7000000.0,
 6153846.0,
 22347015.0,
 0,
 16000000.0,
 8307692.0,
 14631250.0,
 12500000.0,
 2775000.0,
 504200.0,
 1952760.0,
 0,
 2470357.0,
 11011236.0,
 23491573.0,
 7560000.0,
 7305825.0,
 2074320.0,
 12800562.0,
 13764045.0,
 512746.0,
 7945000.0,
 2407560.0,
 10000000.0,
 7000000.0,
 194220.0,
 3499800.0,
 1349383.0,
 0,
 2118840.0,
 1757429.0,
 24157303.0,
 1378242.0,
 922943.0,
 2416222.0,
 0,
 0,
 0,
 457418.0,
 1512601.0,
 838464.0,
 3448926.0,
 0,
 1378242.0,
 19200127.0,
 1512601.0,
 427289.0,
 3382000.0,
 6500000.0,
 1378242.0,
 7305600.0,
 3000000.0,
 2760095.0,
 869094.0,
 9367200.0,
 8575916.0,
 17469565.0,
 4068600.0,
 18089887.0,
 2526840.0,
 0,
 1378242.0,
 3447480.0,
 0,
 8739500.0,
 12400000.0,
 838464.0,
 1544951.0,
 0,
 1689840.0,
 9000000.0,
 2150000.0,
 14975000.0,
 2272391.0,
 0,
 1378242.0,
 0,
 9474.0,
 1485440.0,
 90005.0,
 5193600.0,
 2516048.0,
 1656092.0,
 2667600.0,
 1378242.0,
 23114066.0,
 1795015.0,
 0,
 170915.0,
 17868852.0,
 1544951.0,
 1349383.0,
 25467250.0,
 0,
 12253780.0,
 0,
 14211.0,
 5750000.0,
 838464.0,
 42634.0,
 0,
 1641000.0,
 1512601.0,
 10595506.0,
 1544951.0,
 21000000.0,
 4449000.0,
 0,
 4969080.0,
 30421854.0,
 838464.0,
 0,
 6041520.0,
 3314365.0,
 10464092.0,
 8339880.0,
 1740000.0,
 0,
 8641000.0,
 1378242.0,
 0,
 2481000.0,
 11327466.0,
 9607500.0,
 487109.0,
 1512601.0,
 1349383.0,
 35654150.0,
 7461960.0,
 3472887.0,
 151587.0,
 0,
 0,
 1634640.0,
 0,
 7200000.0,
 25434263.0,
 838464.0,
 20421546.0,
 0,
 4696875.0,
 0,
 1378242.0,
 0,
 3125000.0,
 0,
 35654150.0,
 0,
 4441200.0,
 1378242.0,
 14000000.0,
 7839435.0,
 0,
 16517857.0,
 29230769.0,
 5000000.0,
 1544951.0,
 1512601.0,
 2250960.0,
 1512601.0,
 1311264.0,
 0,
 1655160.0,
 5337000.0,
 1632240.0,
 0,
 10500000.0,
 838464.0,
 512746.0,
 0,
 0,
 0,
 0,
 2299080.0,
 0,
 0,
 0,
 9530000.0,
 0,
 2160720.0,
 0,
 19245370.0,
 16900000.0,
 0,
 3208630.0,
 0,
 1333140.0,
 1773840.0,
 786211.0,
 2494346.0,
 0,
 0,
 11830358.0,
 32088932.0,
 1512601.0,
 21666667.0,
 20000000.0,
 4536120.0,
 4737.0,
 0,
 1512601.0,
 1512601.0,
 0,
 12361111.0,
 6000000.0,
 1544951.0,
 1874640.0,
 0,
 1544951.0,
 24107258.0,
 0,
 2749080.0,
 1762080.0,
 3627842.0,
 1544951.0,
 0,
 0,
 1835520.0,
 1690000.0,
 37457154.0,
 8000000.0,
 7333334.0,
 2000000.0,
 28928709.0,
 17000000.0,
 457418.0,
 184746.0,
 10337079.0,
 14087500.0,
 6500000.0,
 1512601.0,
 1619260.0,
 0,
 3410284.0,
 0,
 838464.0,
 3940402.0,
 30521115.0,
 1512601.0,
 5250000.0,
 7019698.0,
 4075000.0,
 8653847.0,
 3046200.0,
 0,
 0,
 0,
 1378242.0,
 0,
 19000000.0,
 3819960.0,
 0,
 0,
 15170787.0,
 25467250.0,
 0,
 59820.0,
 17043478.0,
 0,
 0,
 35654150.0,
 15000000.0,
 15944154.0,
 1544951.0,
 1349383.0,
 4449000.0,
 838464.0,
 1544951.0,
 9367200.0,
 0,
 0,
 2487000.0,
 0,
 5915040.0,
 1740000.0,
 1512601.0,
 1512601.0,
 596872.0,
 0,
 2659800.0,
 16539326.0,
 9600000.0,
 8653847.0,
 6434520.0,
 196553.0,
 24000000.0,
 0,
 8333333.0,
 24157303.0,
 838464.0,
 10087200.0,
 487109.0,
 19500000.0,
 0,
 0,
 683661.0,
 59820.0,
 0,
 1512601.0,
 1644240.0,
 2639314.0,
 1703640.0,
 6957105.0,
 1621415.0,
 5337000.0,
 30000000.0,
 3375360.0,
 20099188.0,
 0,
 9000000.0,
 1378242.0,
 3206160.0,
 838464.0,
 1512601.0,
 24119025.0,
 486520.0,
 17092.0,
 4155720.0,
 307648.0,
 0,
 522150.0,
 0,
 3000000.0,
 3360000.0,
 99107.0,
 1667160.0,
 47371.0,
 30560700.0,
 5000000.0,
 0,
 7000000.0,
 1512601.0,
 0,
 2611800.0,
 13793103.0,
 0,
 19169800.0,
 1512601.0,
 0,
 12000000.0,
 3275280.0,
 0,
 0,
 0,
 4661280.0,
 0,
 1679520.0,
 3364249.0,
 1942422.0,
 1620480.0,
 4221000.0,
 1093858.0,
 0,
 20445779.0,
 1512601.0,
 1512601.0,
 25976111.0,
 2000000.0,
 0,
 5027027.0,
 3628920.0,
 3111480.0,
 12917808.0,
 838464.0,
 31214295.0,
 17092.0,
 21590909.0,
 10000000.0,
 988464.0,
 341831.0,
 449794.0,
 1512601.0,
 12137527.0,
 136732.0,
 2807880.0,
 25637.0,
 1512601.0,
 27739975.0,
 0,
 0,
 1512601.0,
 0,
 0,
 3833760.0,
 0,
 1512601.0,
 12500000.0,
 0,
 0,
 0,
 838464.0,
 0,
 0,
 0,
 11660716.0,
 0,
 2526840.0,
 17000000.0,
 4449000.0,
 1567007.0,
 333285.0,
 1544951.0,
 1512601.0,
 1378242.0,
 22897200.0,
 13045455.0,
 1911960.0,
 25467250.0,
 0,
 2357160.0,
 5451600.0,
 14651700.0,
 59820.0,
 0,
 0,
 11750000.0,
 5757120.0,
 1991520.0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

## At this point we have a list of player contracts that is indexed in the same way as the list of player names, which is indexed in order according to their indexes in the main dataset.

Sanity check below - Steph Curry has the highest contract value. Lebron also has a very high contract value. This seems to check out.

In [33]:
lebron_index = player_names.index("LeBron James")
contract_lst[lebron_index]
contract_lst.index(np.nanmax(np.array(contract_lst, dtype=np.float64)))
player_names[317]

player_names.index("Kyle Kuzma")
contract_lst[167]

1689840.0

# Now - convert contract value into an estimate of +/- on the basis of 3mil contract value per point

In [13]:
prior_means = np.array(contract_lst) / 3e6
prior_means[lebron_index]
prior_means[317]

12.485718

In [14]:
# Now set an array of prior standard deviations that are large. Specific value is chosen arbitrarily
prior_sd = np.full(len(prior_means), 5)
np.shape(prior_sd)
np.shape(prior_means)

priors_df = pd.DataFrame(prior_means, columns = ['mu'])
priors_df['sd'] = prior_sd
priors_df['name'] = player_names
priors_df.to_csv(r'../data/priors_contract_only.csv')

## Now incorporate team ratings

We will skip this for now - need to convert from things like "HOU" to "Rockets" in order to link these up. We can do this manually and it shouldn't take too long but it is slightly annoying and I don't want to do it right now.

In [98]:
team_ratings_2018 = pd.read_csv("../data/NBA_RANKINGS_2018.csv")
team_ratings_2018

   team     rating
0   HOU  13.219058
1   GSW  12.688947
2   TOR  11.463679
3   PHI   9.700574
4   UTA   9.675653
5   OKC   8.526489
6   BOS   8.267972
7   SAS   8.012503
8   MIN   7.507834
9   POR   7.476475
10  NOP   7.100592
11  IND   6.915269
12  DEN   6.899804
13  CLE   6.237948
14  WAS   6.065729
15  LAC   5.484228
16  CHO   5.370390
17  MIA   5.129756
18  MIL   5.107920
19  DET   5.049265
20  LAL   3.900599
21  DAL   2.634310
22  NYK   1.767520
23  BRK   1.628279
24  ORL   0.394281
25  ATL   0.000000
26  MEM  -0.498811
27  SAC  -1.257989
28  CHI  -1.539042
29  PHO  -3.470285