In [1]:
import pandas as pd
import numpy as np

In [2]:
ridgecoef = pd.read_csv("../data/ridge_coef1.csv")
indexmap = pd.read_csv("../data/player_index_map.csv")
contractteam = pd.read_csv("../data/priors_contract+team.csv")

# Add names to ridge coef

In [8]:
ridgenames = pd.merge(ridgecoef, indexmap, how="left",left_on="index", right_on = "index")
ridgenames = ridgenames.drop(['Unnamed: 0_x','Unnamed: 0_y'],axis=1)
ridgenames

        coefs  index  player_id    player_name
0   -0.041586      0   202694.0  Marcus Morris
1    0.022604      1  1628369.0   Jayson Tatum
2   -0.064087      2  1627759.0   Jaylen Brown
3   -0.000285      3  1626179.0   Terry Rozier
4    0.009727      4   201577.0    Robin Lopez
..        ...    ...        ...            ...
524  0.010199    524  1626154.0      RJ Hunter
525  0.000000    525   203564.0    Kalin Lucas
526  0.015302    526  1629116.0  Angel Delgado
527  0.001654    527  1628605.0  Dusty Hannahs
528  0.000000    528  1629147.0    Joe Chealey

[529 rows x 4 columns]

## add coefs to contractteam

In [12]:
finalds = pd.merge(contractteam, ridgenames, how="left",left_on="Name", right_on = "player_name")
#ridgenames = ridgenames.drop(['Unnamed: 0_x','Unnamed: 0_y'],axis=1)
finalds

,Unnamed: 0,rating,Team,Name,mu,sd,coefs,index,player_id,player_name
0,0,13.219058,Houston Rockets,Chris Paul,11.884717,5,0.038086,358.0,101108.0,Chris Paul
1,1,13.219058,Houston Rockets,James Harden,10.140618,5,0.091449,207.0,201935.0,James Harden
2,2,13.219058,Houston Rockets,Clint Capela,4.597701,5,-0.022743,432.0,203991.0,Clint Capela
3,3,13.219058,Houston Rockets,Eric Gordon,4.500125,5,0.084994,75.0,201569.0,Eric Gordon
4,4,13.219058,Houston Rockets,Iman Shumpert,3.670412,5,-0.065352,111.0,202697.0,Iman Shumpert
...,...,...,...,...,...,...,...,...,...,...
524,524,NaN,NaN,NaN,0.000000,5,NaN,NaN,NaN,NaN
525,525,NaN,NaN,NaN,0.000000,5,NaN,NaN,NaN,NaN
526,526,NaN,NaN,NaN,0.000000,5,NaN,NaN,NaN,NaN
527,527,NaN,NaN,NaN,0.000000,5,NaN,NaN,NaN,NaN
528,528,NaN,NaN,NaN,0.000000,5,NaN,NaN,NaN,NaN

In [13]:
finalds.to_csv(r'../data/finalds.csv')